.search-box {
  appearance: none;
  outline: none;
  padding-inline: 1rem;
  width: 20rem;
  height: 3rem;
  font-family: inherit;
  border-radius: 5px;
  color: #fff;
  background-color: #1c204b;
  border: none;
  margin-bottom: 3rem;
}

.search-box::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
